@use '../../../../static/scss/index.scss' as theme;

@mixin container {
  align-items: center;
  justify-content: flex-end;
  column-gap: 5vh;
  @include theme.xs {
    justify-content: center;
  }
  .link {
    font-size: theme.$linkFontSize;
    color: theme.$fucia;
    cursor: pointer;
  }
}
