@use '../../../../static/scss/index.scss' as theme;
@use './Links.module.scss' as links;

.splashLinksContainer {
  @include links.container;
  @include theme.xs {
    justify-content: center;
  }
  .mobileDropdownContainer {
    position: absolute;
    right: 5vw;
  }
  .dietitianSignupButton {
    background-color: theme.$fucia;
    color: white;
    text-transform: none;
    border-radius: theme.$buttonBorderRadius;
  }
  .loginButton {
    border-color: theme.$fucia;
    color: theme.$fucia;
    text-transform: none;
    border-radius: theme.$buttonBorderRadius;
  }
}
