@use '../../../static/scss/index.scss' as theme;

.navbarContainer {
  width: 100vw;
  .box {
    flex-grow: 1;
    .appBar {
      position: static;
      background-color: white;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
      .toolBar {
        background-color: theme.$lightFucia;
        min-height: 50px;
        padding-top: 3vh;
        padding-bottom: 3vh;
        .contentContainer {
          justify-content: space-between;
          align-items: center;
          padding-left: 2vh;
          padding-right: 2vh;
          @include theme.xs {
            justify-content: center;
            row-gap: 3vh;
          }
          .logoText {
            color: theme.$fucia;
            font-size: 2.5rem;
            font-family: 'OpenSans Bold';
            cursor: pointer;
          }
          .linksContainer {
            justify-content: space-around;
            column-gap: 3.5vh;
            @include theme.xs {
              column-gap: 1.5vh;
            }
          }
        }
      }
    }
  }
}
