@use '../../../../../static/scss/index.scss' as theme;

.resourceCategoryContainer {
  justify-content: space-evenly;
  align-items: center;
  background-color: theme.$lightBlue;
  padding-bottom: 1vh;
  padding-top: 1vh;
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding-left: 2vw;
  padding-right: 2vw;
  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  @include theme.xs {
    column-gap: 3vw;
    justify-content: flex-start;
  }
}
