@use '../../../../../static/scss/index.scss' as theme;
$resourcesHeaderFontSize: 2rem;
.pageContainer {
  width: 100%;
  align-items: flex-start;
  padding-bottom: 5vh;
  row-gap: 10vh;
  background-color: #ffedf8;
  .childPageContainer {
    row-gap: 5vh;
    justify-content: center;
    align-items: center;
    @include theme.xs {
    }
  }
}
