@use '../../../../../static/scss/index.scss' as theme;
@use '../../scss/Splash.module.scss' as splash;
@use './Resources.module.scss' as resources;

.rootContainer {
  justify-content: center;
  width: 100%;
  .childContainer {
    @include theme.xs {
      justify-content: center;
    }
    .categoriesContainer {
      position: relative;
      left: 30%;
      bottom: 5%;
      z-index: 1;
      @include theme.xs {
        justify-content: center;
        left: 0%;
        bottom: 0%;
      }

      .headerContainer {
        padding-right: 1vw;
        padding-left: 1vw;
        align-items: flex-end;
        margin-bottom: 2vh;
        @include theme.xs {
          justify-content: center;
        }
        .text {
          font-size: 1.5rem;
          vertical-align: bottom;
          @include theme.xs {
            text-align: center;
          }
        }
      }
      .resourceCategoriesContainer {
        row-gap: 3vh;
        justify-content: flex-start;
        @include theme.xs {
          justify-content: center;
        }
      }
    }
  }
}
.imgContainer {
  position: relative;
  right: 6%;
  @include theme.xs {
    display: none;
  }
  .img {
    object-fit: cover;
    width: 100%;
  }
}
