.card {
  height: 100%;
  max-width: 350px;
  max-height: 550px;
  position: relative;
  padding-bottom: 5vh;
  .img {
    max-height: 250px;
    height: 30vh;
    object-fit: cover;
    object-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .svgImg {
    display: flex;
    justify-content: center;
  }
}
