.card {
  height: 100%;
  max-width: 350px;
  max-height: 450px;
  position: relative;
  padding-bottom: 10vh;
  .img {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}
