.card {
  height: 100%;
  max-width: 350px;
  max-height: 450px;
  position: relative;
  padding-bottom: 7vh;
  .img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
