@use '../../../../../static/scss/index.scss' as theme;
@use '../../../splash/scss/Splash.module.scss' as splash;
.dSignUpPageContainer {
  justify-content: center;
  background-color: theme.$lightFucia;
  @include splash.splash-page-container;
  .header {
    @include splash.splash-page-header;
    margin-bottom: 10vh;
  }
  .submitButton {
    background-color: theme.$fucia;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 2vh;
    font-size: 1rem;
  }
  .errorText {
    margin-bottom: 1.5vh;
  }
  .sampleForm {
    margin-top: 3vh;
  }
  .sampleCheckbox {
    background-color: theme.$antiqueWhite;
    margin: 0;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0, 0.2);
  }
  .toolTip {
    color: theme.$fucia;
  }
}
.toolTip {
  color: theme.$fucia;
}
