@use '../../../../../../static/scss/index.scss' as theme;
@mixin otherMealButtonBase {
  color: white;
  background-color: theme.$fucia;
  border-radius: theme.$buttonBorderRadius;
  border: none;
}
.actionsContainer {
  justify-content: center;
  margin-top: 2vh;
  .childContainer {
    position: absolute;
    bottom: 3vh;
    justify-content: center;
    @include theme.sm {
      bottom: 2vh;
    }
    @include theme.xs {
      bottom: 2vh;
    }
    .iconButtonContainer {
      column-gap: 2vh;
      align-items: center;
      .iconButton {
        font-size: 3rem;
        cursor: pointer;
        color: rgba(0, 0, 0, 1);
      }
      .otherMealButton {
        @include otherMealButtonBase;
      }
      .otherMealButtonDisabled {
        @include otherMealButtonBase;
        background-color: rgba(0, 0, 0, 0.12);
        color: rgba(0, 0, 0, 0.26);
        cursor: not-allowed;
      }
    }
  }
}
// Class must be defined globally due to Mui-disabled override
.icon {
  font-size: 2.5rem;
}
