@use '../../../../../static/scss/index.scss' as theme;
@use '../../../splash/scss/Splash.module.scss' as splash;
.loginPageContainer {
  justify-content: center;
  background-color: theme.$lightFucia;
  @include splash.splash-page-container;
  .header {
    margin-bottom: 10vh;
    @include splash.splash-page-header;
  }
  .stack {
    flex-direction: column;
    row-gap: 3vh;
    .formError {
      margin-bottom: 2vh;
    }
    .formRow {
      background-color: theme.$antiqueWhite;
    }
    .submitButton {
      background-color: theme.$fucia;
      padding-left: 2vh;
      padding-right: 2vh;
      padding-top: 1vh;
      padding-bottom: 1vh;
      margin-top: 2vh;
      font-size: 1rem;
    }
  }
}
