@use '../../../../../../static/scss/index.scss' as theme;
@use '../../../scss/Client.module.scss' as client;
.rootContainer {
  margin-top: 5vh;
  max-height: 40vh;
  justify-content: center;
  row-gap: 5vh;
  .headerContainer {
    flex-direction: column;
    .header {
      color: theme.$fucia;
      font-size: client.$headerFontSize;
      font-weight: bold;
    }
  }
  .contentContainer {
    row-gap: 10vh;
    .contentHeader {
      font-weight: bold;
    }
    .stack {
      row-gap: 2vh;
    }
    .errorText {
      font-size: 1rem;
    }
  }

  .saveChangesButton {
    background-color: theme.$fucia;
    color: white;
    border-radius: theme.$buttonBorderRadius;
    border: none;
    text-transform: none;
    size: 100px;
  }

  .invoiceTable {
    align-items: center;
    text-align: center;

    .th {
      font-weight: bold;
    }
    .rowHeader {
      background-color: theme.$fuciaHover;
      font-size: 1.2rem;
    }

    .rowData {
      padding: 0.5rem;
    }

    .oddRow {
      background-color: theme.$lightFucia;
      margin: 100px;
    }

    .evenRow {
      background-color: white;
    }
    .dialogButton {
      font-size: client.$subHeaderFontSize;
      background-color: theme.$fucia;
      color: white;
      border-radius: theme.$buttonBorderRadius;
      border: none;
      text-transform: none;
      font-size: 1.5rem;
      padding: 0.5rem;
    }
  }
}
