@use '../../../../static/scss/index.scss' as theme;

.pageContainer {
  height: 100vh;
  position: relative;
  .childContentContainer {
    position: absolute;
    min-height: 100%;
    flex-direction: column;

    .navbarContainer {
      width: 100vw;
      background-color: theme.$lightFucia;
      height: min-content;
      .box {
        flex-grow: 1;
        .appBar {
          position: static;
          background-color: white;
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
          .toolBar {
            background-color: theme.$lightFucia;
            min-height: 50px;
            padding-top: 3vh;
            padding-bottom: 3vh;
            .contentTopContainer {
              justify-content: flex-end;

              .contentContainer {
                justify-content: space-between;
                align-items: center;
                padding-right: 2vh;
                @include theme.xs {
                  align-items: flex-start;
                  padding: 0;
                }
                .logoText {
                  color: theme.$fucia;
                  font-size: 3rem;
                  font-family: 'Sansita Bold';
                  cursor: pointer;
                }
                .linksContainer {
                  justify-content: space-around;
                  column-gap: 3.5vh;
                }
              }
            }
          }
        }
      }
    }
    .pageContentContainer {
      flex-grow: 1;
    }
  }
}
