@use '../../../../static/scss/index.scss' as theme;

.splashLinksContainer {
  justify-content: flex-end;
  align-items: center;
  column-gap: 2vh;
  @include theme.xs {
    justify-content: flex-end;
  }
  .dietitianSignupButton {
    background-color: theme.$fucia;
    color: white;
    text-transform: none;
    border-radius: theme.$buttonBorderRadius;
  }
  .loginButton {
    border-color: theme.$fucia;
    color: theme.$fucia;
    text-transform: none;
    border-radius: theme.$buttonBorderRadius;
  }
}
