html,
body {
  margin: 0;
  padding: 0 !important;
  scrollbar-gutter: stable;
  max-width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

// FONTS
@font-face {
  font-family: 'LexendDeca'; /*Can be any text*/
  src: local('LexendDeca-Regular'),
    url('../fonts/LexendDeca-Regular.ttf') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'LexendDeca SemiBold'; /*Can be any text*/
  src: local('LexendDeca-SemiBold'),
    url('../fonts/LexendDeca-SemiBold.ttf') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Sansita Bold'; /*Can be any text*/
  src: local('Sansita-Bold'), url('../fonts/Sansita-Bold.ttf') format('woff');
  font-display: fallback;
}

$defaultFontBold: 'LexendDeca SemiBold';

// COLORS
$darkFucia: #8b0054;
$fucia: #d4218d;
$fuciaHover: #ffceec;
$lightFucia: #ffedf8;

$peach: #f2c9d4;

$lavender: #685edf;
$lightLavender: #948de8;
$lightBlue: #bbddff;

$lightGrey: #f3f3f3;
$antiqueWhite: #fcfcfb;
// MEDIA QUERIES
$xsScreen: 600px;
$smScreen: 900px;
$mdScreen: 1200px;
$lgScreen: 1536px;
$xlScreen: 1537px;

// FONT SIZES
$linkFontSize: 1rem;

// BOX SHADOWS
$boxShadowSmall: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
$boxShadowMedium: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
$boxShadowLarge: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);

$boxShadowBorderRadiusSmall: 5px;
$boxShadowBorderRadiusMedium: 5px;
$boxShadowBorderRadiusLarge: 5px;

// BORDER RADIUS
$borderRadiusDefault: 30px;
$buttonBorderRadius: 100px;

@mixin xs {
  @media screen and (min-width: 0) and (max-width: $xsScreen) {
    @content;
  }
}
@mixin sm {
  @media screen and (min-width: ($xsScreen + 1)) and (max-width: $smScreen) {
    @content;
  }
}
@mixin md {
  @media screen and (min-width: ($smScreen + 1)) and (max-width: $mdScreen) {
    @content;
  }
}
@mixin lg {
  @media screen and (min-width: ($mdScreen + 1)) and (max-width: $lgScreen) {
    @content;
  }
}
@mixin xl {
  @media screen and (min-width: $xlScreen) {
    @content;
  }
}

@mixin larger {
  @media screen and (min-width: $smScreen) {
    @content;
  }
}

@mixin smaller {
  @media screen and (max-width: ($smScreen - 1)) {
    @content;
  }
}
// Define the landscape mixin
@mixin landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}
