html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

// FONTS

@font-face {
  font-family: 'Inter Bold'; /*Can be any text*/
  src: local('Inter-Bold'), url('../fonts/Inter-Bold.ttf') format('woff');
}
@font-face {
  font-family: 'LexendDeca'; /*Can be any text*/
  src: local('LexendDeca-Regular'),
    url('../fonts/LexendDeca-Regular.ttf') format('woff');
}
@font-face {
  font-family: 'LexendDeca SemiBold'; /*Can be any text*/
  src: local('LexendDeca-SemiBold'),
    url('../fonts/LexendDeca-SemiBold.ttf') format('woff');
}
@font-face {
  font-family: 'OpenSans Bold'; /*Can be any text*/
  src: local('OpenSans-Bold'), url('../fonts/OpenSans-Bold.ttf') format('woff');
}
@font-face {
  font-family: 'OpenSans'; /*Can be any text*/
  src: local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.ttf') format('woff');
}
@font-face {
  font-family: 'LilitaOne'; /*Can be any text*/
  src: local('LilitaOne-Regular'),
    url('../fonts/LilitaOne-Regular.ttf') format('woff');
}
@font-face {
  font-family: 'Sansita'; /*Can be any text*/
  src: local('Sansita-Regular'),
    url('../fonts/Sansita-Regular.ttf') format('woff');
}
@font-face {
  font-family: 'Sansita Bold'; /*Can be any text*/
  src: local('Sansita-Bold'), url('../fonts/Sansita-Bold.ttf') format('woff');
}

$defaultFontBold: 'LexendDeca SemiBold';

// COLORS
$darkFucia: #8b0054;
$fucia: #d4218d;
$lightFucia: #ffedf8;
$fuciaHover: #ffceec;

$peach: #f2c9d4;

$lavender: #685edf;
$lightLavender: #948de8;
$lightBlue: #bbddff;

$lightGrey: #f3f3f3;

// MEDIA QUERIES
$xsScreen: 600px;
$smScreen: 900px;
$mdScreen: 1200px;
$lgScreen: 1536px;
$xlScreen: 1537px;

// FONT SIZES
$linkFontSize: 1rem;

// BOX SHADOWS
$small: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
$medium: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
$large: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);

// OTHER
$borderRadiusDefault: 30px;
$buttonBorderRadius: 100px;

@mixin xs {
  @media screen and (min-width: 0) and (max-width: $xsScreen) {
    @content;
  }
}
@mixin sm {
  @media screen and (min-width: ($xsScreen + 1)) and (max-width: $smScreen) {
    @content;
  }
}
@mixin md {
  @media screen and (min-width: ($smScreen + 1)) and (max-width: $mdScreen) {
    @content;
  }
}
@mixin lg {
  @media screen and (min-width: ($mdScreen + 1)) and (max-width: $lgScreen) {
    @content;
  }
}
@mixin xl {
  @media screen and (min-width: $xlScreen) {
    @content;
  }
}

@mixin larger {
  @media screen and (min-width: $smScreen) {
    @content;
  }
}

@mixin smaller {
  @media screen and (max-width: ($smScreen - 1)) {
    @content;
  }
}
