@use '../../../../../static/scss/index.scss' as theme;
@use '../../scss/Client.module.scss' as client;
.container {
  .button {
    color: theme.$fucia;
    border-color: theme.$fucia;
  }
}
.dialogContainer {
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  .header {
    font-size: 1.5rem;
  }
  .modalBodyText {
    font-size: 1rem;
    text-align: center;
  }
  .deliveryDateText {
    font-size: 1rem;
    font-weight: bold;
  }
  .dialogContentContainer {
    row-gap: 1vh;
    justify-content: center;
    .dialogActionsContainer {
      align-items: center;
      flex-direction: column;
      row-gap: 2.5vh;
      margin-top: 3vh;
    }
  }
}
.dialogButton {
  font-size: client.$subHeaderFontSize;
  background-color: theme.$fucia;
  color: white;
  border-radius: theme.$buttonBorderRadius;
  border: none;
  text-transform: none;
}
