@use '../../../../../static/scss/index.scss' as theme;
@use '../../scss/Splash.module.scss' as splash;

.reasonFAQContainer {
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1vh;
  cursor: pointer;
  .questionContainer {
    justify-content: space-between;
    .questionText {
      @include splash.splash-page-body;
    }
  }
  .answerTextOpen {
    padding-bottom: 16px;
    padding-left: 0px;
    display: block;
    .answerTextContainer {
      column-gap: 1vh;

      .answerText {
        @include splash.splash-page-body;
        color: theme.$fucia;
        font-family: theme.$defaultFontBold;
      }
    }
  }
  .answerTextClosed {
    padding-bottom: 16px;
    padding-left: 0px;
    display: none;
  }
}
