
.orb-canvas {
    display: flex;
    --dark-color: hsl(286, 100%, 9%);
    --light-color: hsl(286, 95%, 98%);
    --base: hsl(286, 95%, 50%);
    --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
    --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);
    --bg-gradient: linear-gradient(
      to bottom,
      hsl(286, 95%, 100%),
      hsl(286, 95%, 84%)
    );
    color: var(--dark-color);
    /* background: var(--bg-gradient); */
  } 