div.intro-text-box-container {
  flex-direction: column;
  position: absolute;
  top: 25%;
  bottom: 25%;
  gap: 2.5vh;
}
p.intro-text-box-header {
  font-family: 'Inter Bold';
  line-height: 150%;
}
button.splash-filled-button {
  font-size: medium;
  border-radius: 30px !important;
  letter-spacing: 0.1px;
}
