@use '../../../../../../static/scss/index.scss' as theme;
@use '../../../scss/Client.module.scss' as client;

.container {
  column-gap: 10vh;
  row-gap: 5vh;
  .headerContainer {
    align-items: center;
    .header {
      font-size: client.$headerFontSize;
      text-align: center;
      margin-top: 2vh;
      color: theme.$fucia;
    }
    .toolTip {
      color: theme.$fucia;
    }
  }
  .contentContainer {
    column-gap: 5vh;
    row-gap: 5vh;

    .cardContainer {
      @include theme.xs {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
