@use '../../../../../../static/scss/index.scss' as theme;
@use '../../../scss/Client.module.scss' as client;

.container {
  justify-content: flex-start;
  column-gap: 10vh;
  row-gap: 5vh;
  .headerContainer {
    justify-content: flex-start;
    .header {
      font-size: client.$headerFontSize;
      text-align: center;
      margin-top: 2vh;
      color: theme.$fucia;
    }
    .toolTip {
      color: theme.$fucia;
    }
  }
  .cardContainer {
    @include theme.xs {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
