.navbar {
  min-height: 50px;
  padding-top: 3vh;
  padding-bottom: 3vh;
}
header.appbar {
  background-color: white;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.logo-container {
  align-items: flex-end;
}
.logo-image {
  height: 6vh;
}
