@use '../../../../../static/scss/index.scss' as theme;
@use '../../scss/Splash.module.scss' as splash;
.howItWorksContainer {
  @include splash.splash-page-container;
  align-items: center;
  background-color: white;
  .header {
    @include splash.splash-page-header;
    margin-bottom: 10vh;
    @include theme.xs {
      margin-bottom: 5vh;
    }
  }
  .illustrationContainer {
    row-gap: 5vh;
    justify-content: space-evenly;
    @include theme.xs {
      justify-content: center;
    }
  }
}
