.intro-text-box-container {
  flex-direction: column;
  position: absolute;
  top: 25%;
  bottom: 25%;
  row-gap: 2.5vh;
}
.intro-text-box-header {
  font-family: 'Inter Bold';
  line-height: 150%;
  font-size: 2rem;
}
.intro-text-box-subheader {
  font-size: 1.12rem;
}
.splash-filled-button {
  font-size: medium;
  border-radius: 30px !important;
  letter-spacing: 0.1px;
}
