@use '../../../../../static/scss/index.scss' as theme;
@use '../../scss/Splash.module.scss' as splash;

.introTextBoxContainer {
  flex-direction: column;
  position: absolute;
  top: 12%;
  row-gap: 2.75vh;
  color: theme.$fucia;
  @include theme.smaller {
    top: 4%;
    row-gap: 5vh;
    @include theme.landscape {
      height: max-content;
      top: 0%;
    }
  }
  .header {
    font-family: theme.$defaultFontBold;
    line-height: 150%;
    font-size: 3.7rem;
    @include theme.xs {
      text-align: left;
      line-height: 150%;
      font-size: 2.5rem;
    }
  }
  .subheader {
    font-size: 1.35rem;
    @include theme.xs {
      font-size: splash.$contentSubHeaderFontSize;
    }
  }
}
.signupButtonContainer {
  @include theme.xs {
    justify-content: center;
  }
  .button {
    font-size: medium;
    border-radius: theme.$buttonBorderRadius;
    letter-spacing: 0.1px;
    background-color: theme.$fucia;
    text-transform: none;
  }
}
