@use '../../../static/scss/index.scss' as theme;

.footerContainer {
  justify-content: center;
  align-items: center;
  background-color: theme.$darkFucia;
  padding: 5vh;
  .footerSubContainer {
    justify-content: center;
    .questionsColumn {
      flex-direction: column;
      justify-content: space-around;
      row-gap: 1vh;
      color: white;
      .header {
        font-weight: bold;
      }
    }
  }
  .socialsColumn {
    flex-direction: column;
    justify-content: space-between;
    .header {
      color: white;
      font-weight: bold;
    }
    .socialMediaIcons {
      column-gap: 5vh;
      a {
        color: white;
        font-size: 2rem;
      }
    }
  }
}
