@mixin splash-page-container {
  padding-top: 10vh;
  padding-bottom: 15vh;
  justify-content: center;
}
@mixin splash-page-header {
  font-family: 'Inter Bold';
  line-height: 100%;
  text-align: center;
  color: #d4218d;
  font-size: 2rem;
}
@mixin splash-page-body {
  font-size: 1.125rem;
}
