.splash-page-container {
  padding-top: 10vh;
  padding-bottom: 15vh;
  justify-content: center;
}
.splash-page-header {
  font-family: 'Inter Bold';
  line-height: 100%;
  text-align: center;
  color: #d4218d;
  font-size: 2rem;
}
.splash-page-subheader {
  font-size: 1.12rem;
  color: #d4218d;
}
.splash-secondary-text {
  line-height: 100%;
  color: #d4218d;
}
.splash-theme-text {
  color: #d4218d;
}
.splash-theme-filled {
  background-color: #d4218d;
}
.splash-theme-filled {
  background-color: #d4218d;
}

.splash-light-theme-text {
  color: #ffedf8;
}
.splash-light-theme-filled {
  background-color: #ffedf8;
}
