.reason-bullet-container {
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.8rem;
  padding-right: 1.5rem;
  row-gap: 0.5rem;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.reason-bullet-icon-container {
  justify-content: center;
  align-items: center;
}
.arrow-container {
  padding: 0px;
  display: flex;
  border-radius: 50%;
}
.reason-bullet-header-closed {
  color: black;
  font-weight: 500;
}
.reason-bullet-header-open {
  color: white;
  font-family: 'Inter Bold';
}
.reason-bullet-body-closed {
  color: black;
  font-weight: 400;
}
.reason-bullet-body-open {
  color: white;
  font-weight: 400;
}
