@use '../../../../static/scss/index.scss' as theme;
@use '../../scss/Splash.module.scss' as splash;

.whyUsFirstContainer {
  @include splash.splash-page-container;
  .secondContainer {
    justify-content: space-around;
    row-gap: 5vh;
    .header {
      @include splash.splash-page-header;
      text-align: left;
      @include theme.xs {
        text-align: center;
      }
    }
    .lhsContainer {
      flex-direction: column;
      .listOfReasonsContainer {
        background-color: white;
        border-radius: 30px;
        overflow: hidden;
      }
    }
    .rhsContainer {
      flex-direction: column;
      align-items: center;
      row-gap: 2vh;
      .stack {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 3vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5vh;
        @include theme.xs {
          margin-bottom: 3vh;
        }
      }
    }
  }
}
