@use '../../../../static/scss/index.scss' as theme;
@use './Client.module.scss' as client;
.pageContainer {
  padding-top: 5vh;
  justify-content: center;
  height: 50vh;
  .header {
    color: theme.$fucia;
    font-size: client.$headerFontSize;
    font-weight: bold;
  }
  .contentContainer {
    border-bottom: 2px solid darkgrey;
    .cardContainer {
      flex-direction: row;
      row-gap: 1vh;
      .planImage {
        width: 50%;
        object-fit: cover;
        margin-top: 2vh;
      }
      .planText {
        font-size: client.$subHeaderFontSize;
        font-weight: bold;
        margin-top: 2vh;
      }
      .upgradeButton {
        margin-top: 5vh;
        padding: 1vh;
        font-size: client.$buttonFontSize;
      }
      .closeAccountText {
        font-size: client.$subHeaderFontSize;
        font-weight: bold;
        margin-top: 2vh;
      }
      .closeAccountLink {
        display: flex;
        justify-content: right;
        align-items: center;
        color: theme.$fucia;
        font-size: client.$linkFontSize;
        margin-top: 5vh;
        text-decoration: none;
      }
    }
  }
}
