@use '../../../../static/scss/index.scss' as theme;
@use './Client.module.scss' as client;
.pageContainer {
  padding-top: 10vh;
  justify-content: center;
  .header {
    color: theme.$fucia;
    font-size: client.$headerFontSize;
    font-weight: bold;
  }
  .cardContainer {
    flex-direction: column;
    row-gap: 1vh;
    .stack {
      row-gap: 1vh;
      .deliverDateText {
        font-size: client.$subHeaderFontSize;
        font-weight: bold;
      }
    }
  }
}
