@use '../../../../static/scss/index.scss' as theme;

.resourceCategoryContainer {
  background-color: theme.$lightBlue;
  align-items: center;
  padding-bottom: 1vh;
  padding-top: 1vh;
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding-left: 5vw;
  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  @include theme.smaller {
    column-gap: 3vw;
    justify-content: flex-start;
  }

  @include theme.larger {
    justify-content: space-evenly;
  }
}
