@use '../../../../../static/scss/index.scss' as theme;
@use '../../scss/DietitianHome.module.scss' as dietitianHome;

.pageContainer {
  padding-top: 10vh;
  justify-content: center;
  margin-bottom: 10vh;
}
