@use '../../../../../static/scss/index.scss' as theme;
@use '../../scss/DietitianHome.module.scss' as dietitianHome;

.tableContainer {
  justify-content: center;
  align-items: flex-start;
  .tableSubContainer {
    row-gap: 5vh;
    .header {
      font-size: dietitianHome.$headerFontSize;
      color: theme.$fucia;
    }
    .scheduleMealCardContainer {
      margin-right: 2vh;
      @include theme.xs {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
