@use '../../../../../static/scss/index.scss' as theme;
@use '../../scss/DietitianHome.module.scss' as dietitianHome;

@mixin createNewStagedClientModalBase {
  justify-content: flex-end;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vh;
}
@mixin buttonBase {
  background-color: theme.$fucia;
  color: white;
  border: none;
  border-radius: theme.$buttonBorderRadius;
  text-transform: none;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1rem;
  @include theme.xs {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}
.rootDiv {
  .button {
    @include buttonBase;
    .buttonText {
      font-size: 0.8rem;
    }
  }
  .buttonDisabled {
    @include buttonBase;
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.26);
    cursor: not-allowed;
  }
}
.themeColoredContainer {
  @include createNewStagedClientModalBase;
  background-color: theme.$lightFucia;
}
.regularContainer {
  @include createNewStagedClientModalBase;
}
.closeIcon {
  cursor: pointer;
  margin-left: auto;
}
